{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="section-title">Hand Rehabilitation Analysis</h2>
  <p class="small">
    Choose an analysis approach
  </p>

  <div class="grid">
    <!-- Approach 1 -->
    <div class="card">
      <h3 class="card-title">Approach 1</h3>
      <p class="card-sub">
        Task-wise IMU analysis<br>
        (SideToSide, Pour, VerticalSip, VerticalShelf)
      </p>

      <div class="btnrow">
        <a class="btn primary" href="/approach/1">
          View Results
        </a>
      </div>
    </div>

    <!-- Approach 2 -->
    <div class="card">
      <h3 class="card-title">Approach 2</h3>
      <p class="card-sub">
        Continuous IMU analysis<br>
        (entire session data)
      </p>

      <div class="btnrow">
        <a class="btn primary" href="/approach/2">
          View Results
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <h3 class="card-title">Project Resources</h3>
  <p class="card-sub">Quick access to all materials</p>

  <ul class="link-list">
    <li>
      📊 <a href="https://studentgsu-my.sharepoint.com/:p:/r/personal/rsangareddypeta1_student_gsu_edu/Documents/HandRehab.pptx?d=w02d39f158965444895ec3cf0eb541c9b&csf=1&web=1&e=TWXYTF"
           target="_blank" rel="noopener noreferrer">
        HandRehab – Project Presentation (PPT)
      </a>
    </li>
    <li>
      📈 <a href="https://mygsu.sharepoint.com/:f:/t/VirtualHandRehabilitationProject/IgCQ-cnLfNqEQ4gZeA2hRoJDAfPF6k1q_xz48GFyi4BKDU4?email=aashok%40gsu.edu&e=hxTbUv"
          target="_blank" rel="noopener noreferrer">
        HandRehab – Plots & Analysis Folder
      </a>
      <div class="small">
        Contains time-series plots and box plots for activity-wise NJS analysis.
      </div>
    </li>

  </ul>
</div>

{% endblock %}
